.cart {
    background-color: white;
    min-height: 40vh;
    width: 60vw;
    margin: 20px auto;
    padding: 50px;
    text-align: start;
    border: solid 1px;
    border-color: rgb(176,174,158);
    border-radius: 50px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: solid 1px rgb(222, 221, 211);;
    box-shadow: 13px 11px 9px -10px rgba(176,174,158,0.75);
    -webkit-box-shadow: 13px 11px 9px -10px rgba(176,174,158,0.75);
    -moz-box-shadow: 13px 11px 9px -10px rgba(176,174,158,0.75);
}

.cart-item-image {
    height: 150px;
}

.cart-item-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.item-title {
    font-size: 28px;
    padding-bottom: 20px;
}

.item-quantity {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.item-price {
    font-size: 16px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-control {
    width: 45px;
    height: 40px;
    padding: 0;
    margin: auto;
    margin-right: 10px;
}

.total-cart {
    font-size: 28px;
    margin-top: 30px;
}